.portal-modal-background {
	background-color: rgba(102, 102, 102, 0.55);
	position: fixed;
	overflow: auto;
	width: 100%;
	height: 100%;
	z-index: 10;
	top: 0;
}

.portal-modal {
	position: absolute;
	top: 30%;
	border-radius: 10px;
	border: 1px solid #38d9a9;
	background-color: #ffffff;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	box-sizing: border-box;
	padding: 30px 120px 30px;
	min-width: 290px;
	max-width: 800px;
	word-break: break-word;
}
.portal-modal .close-button {
	width: auto;
	position: fixed;
	right: 10px;
	top: 10px;
}

.portal-modal-header {
	color: #38d9a9;
	font-size: 16px;
	margin: 15px 0 20px;
}


.portal-form-buttons {
	margin: 20px 0;
	display: flex;
	justify-content: space-between;
}

.portal-img{
	max-width: 700px;
}

.portal-buttons-wrapper{
	display: flex;
	justify-content: center;
}

.portal-button-wrapper{
	margin: 5px;
}

@media (max-width: 960px) {
	.portal-modal {
		padding: 30px 15px;
		width: 95%;
	}
	.portal-img{
		width: 100%;
	}

	.portal-buttons-wrapper{
		flex-direction: column;
    align-items: center;
	}
}
